@import "tailwindcss";
/* build trigger */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
  }

[x-cloak] { display: none !important; }

up-modal[size=large] up-modal-box {
  width: 1500px !important;
}